h2 {
	margin-top:39px;
	font-size: 3.3em;
	color: #E5C100;
}

#grains-box .glyphicon {
	margin: 0.3em;
	font-size: 3.6em;
	color: #E5C100;
}

#grains-box, #answer-box {
	width: 40%;
	float: left;
}

#button-game {
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 39px;
}

#grains-box .well, #answer-box .well {
	height: 200px;
}

#numbers-box .number, #numbers-box .numberdisabled-normal, #numbers-box .numberdisabled-accepted, #answer-box .number{
	display: inline-block;
	margin: 0.5em;
	width: 36px;
	text-align: center;
	font-size: 2em;
	border-radius: 50%;
}

#numbers-box .numberdisabled-normal {
	background-color: #e8e8e8;
	color: #d3d3d3;
}

#numbers-box .numberdisabled-accepted {
	background-color: #aaddaa;
	color: #99bb99
}

#numbers-box .number, #answer-box .number {
	background-image: url('http://eskipaper.com/images/grass-backgrounds-2.jpg');
	color: white;
	cursor: pointer;
}

.response {
	margin-top: 46px;
	font-size: 2.5em;
	font-weight: 400;
	color: #E5C100;
}

.chk-btn {
	padding: 10px 20px;
	font-size: 2em;
}

#rules {
	padding-top: 0px;
	font-size: 1.3em;
}

#finished-game {
	margin-top: 30px;
	font-size: 2.5em;
}

img {
	text-align: center;
}
